<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <!--
  <Network>
    <InterfaceType>Wired</InterfaceType>
    <IPType>Static</IPType>
    <IPAddress></IPAddress>
    <Subnet></Subnet>
    <Gateway></Gateway>
  </Network>
  -->
  <Network>
    <InterfaceType>Wired</InterfaceType>
    <IPType>DHCP</IPType>
    <!--
    <IPType>Static</IPType>
    <IPAddress>192.168.1.175</IPAddress>
    <Subnet>255.255.255.0</Subnet>
    <Gateway>192.168.1.1</Gateway>
    -->
  </Network>
  
  <Devices>
    
    <Device>
      <ID>1A.CD.24</ID>
      <Name>Small Lamp</Name>
      <Location>Bed Room</Location>
      <Type>MultilevelSwitch</Type>
      <State>Off</State>
      <Level>0</Level>
      <Temperature>0</Temperature>
      <Mode/>
      <Timers>
        <Timer>
          <Day>Sunday</Day>
          <Enabled>true</Enabled>
          <TimeOn>2013-01-01T20:30:00</TimeOn>
          <TimeOff>2013-01-01T22:00:00</TimeOff>
          <UseSuntimeOn>true</UseSuntimeOn>
          <SunTimeOnMinuteOffset>0</SunTimeOnMinuteOffset>
          <UseSuntimeOff>false</UseSuntimeOff>
          <SunTimeOffMinuteOffset>0</SunTimeOffMinuteOffset>
        </Timer>
        <Timer>
          <Day>Monday</Day>
          <Enabled>true</Enabled>
          <TimeOn>2013-01-01T20:30:00</TimeOn>
          <TimeOff>2013-01-01T22:00:00</TimeOff>
          <UseSuntimeOn>true</UseSuntimeOn>
          <SunTimeOnMinuteOffset>0</SunTimeOnMinuteOffset>
          <UseSuntimeOff>false</UseSuntimeOff>
          <SunTimeOffMinuteOffset>0</SunTimeOffMinuteOffset>
        </Timer>
        <Timer>
          <Day>Tuesday</Day>
          <Enabled>true</Enabled>
          <TimeOn>2013-01-01T20:30:00</TimeOn>
          <TimeOff>2013-01-01T22:00:00</TimeOff>
          <UseSuntimeOn>true</UseSuntimeOn>
          <SunTimeOnMinuteOffset>0</SunTimeOnMinuteOffset>
          <UseSuntimeOff>false</UseSuntimeOff>
          <SunTimeOffMinuteOffset>0</SunTimeOffMinuteOffset>
        </Timer>
        <Timer>
          <Day>Wednesday</Day>
          <Enabled>true</Enabled>
          <TimeOn>2013-01-01T20:30:00</TimeOn>
          <TimeOff>2013-01-01T22:00:00</TimeOff>
          <UseSuntimeOn>true</UseSuntimeOn>
          <SunTimeOnMinuteOffset>0</SunTimeOnMinuteOffset>
          <UseSuntimeOff>false</UseSuntimeOff>
          <SunTimeOffMinuteOffset>0</SunTimeOffMinuteOffset>
        </Timer>
        <Timer>
          <Day>Thursday</Day>
          <Enabled>true</Enabled>
          <TimeOn>2013-01-01T20:30:00</TimeOn>
          <TimeOff>2013-01-01T22:00:00</TimeOff>
          <UseSuntimeOn>true</UseSuntimeOn>
          <SunTimeOnMinuteOffset>0</SunTimeOnMinuteOffset>
          <UseSuntimeOff>false</UseSuntimeOff>
          <SunTimeOffMinuteOffset>0</SunTimeOffMinuteOffset>
        </Timer>
        <Timer>
          <Day>Friday</Day>
          <Enabled>true</Enabled>
          <TimeOn>2013-01-01T20:30:00</TimeOn>
          <TimeOff>2013-01-01T22:00:00</TimeOff>
          <UseSuntimeOn>true</UseSuntimeOn>
          <SunTimeOnMinuteOffset>0</SunTimeOnMinuteOffset>
          <UseSuntimeOff>false</UseSuntimeOff>
          <SunTimeOffMinuteOffset>0</SunTimeOffMinuteOffset>
        </Timer>
        <Timer>
          <Day>Saturday</Day>
          <Enabled>true</Enabled>
          <TimeOn>2013-01-01T20:30:00</TimeOn>
          <TimeOff>2013-01-01T22:00:00</TimeOff>
          <UseSuntimeOn>true</UseSuntimeOn>
          <SunTimeOnMinuteOffset>0</SunTimeOnMinuteOffset>
          <UseSuntimeOff>false</UseSuntimeOff>
          <SunTimeOffMinuteOffset>0</SunTimeOffMinuteOffset>
        </Timer>
      </Timers>
    </Device>

    <Device>
      <ID>1A.E9.59</ID>
      <Name>Christmas Tree</Name>
      <Location>Fireplace Room</Location>
      <Type>MultilevelSwitch</Type>
      <State>Off</State>
      <Level>0</Level>
      <Temperature>0</Temperature>
      <Mode/>
      <Timers>
        <Timer>
          <Day>Sunday</Day>
          <Enabled>false</Enabled>
          <TimeOn>2013-01-01T07:00:00</TimeOn>
          <TimeOff>2013-01-01T22:30:00</TimeOff>
          <UseSuntimeOn>false</UseSuntimeOn>
          <SunTimeOnMinuteOffset>0</SunTimeOnMinuteOffset>
          <UseSuntimeOff>false</UseSuntimeOff>
          <SunTimeOffMinuteOffset>0</SunTimeOffMinuteOffset>
        </Timer>
        <Timer>
          <Day>Monday</Day>
          <Enabled>false</Enabled>
          <TimeOn>2013-01-01T16:30:00</TimeOn>
          <TimeOff>2013-01-01T22:30:00</TimeOff>
          <UseSuntimeOn>false</UseSuntimeOn>
          <SunTimeOnMinuteOffset>0</SunTimeOnMinuteOffset>
          <UseSuntimeOff>false</UseSuntimeOff>
          <SunTimeOffMinuteOffset>0</SunTimeOffMinuteOffset>
        </Timer>
        <Timer>
          <Day>Tuesday</Day>
          <Enabled>false</Enabled>
          <TimeOn>2013-01-01T16:30:00</TimeOn>
          <TimeOff>2013-01-01T22:30:00</TimeOff>
          <UseSuntimeOn>false</UseSuntimeOn>
          <SunTimeOnMinuteOffset>0</SunTimeOnMinuteOffset>
          <UseSuntimeOff>false</UseSuntimeOff>
          <SunTimeOffMinuteOffset>0</SunTimeOffMinuteOffset>
        </Timer>
        <Timer>
          <Day>Wednesday</Day>
          <Enabled>false</Enabled>
          <TimeOn>2013-01-01T16:30:00</TimeOn>
          <TimeOff>2013-01-01T22:30:00</TimeOff>
          <UseSuntimeOn>false</UseSuntimeOn>
          <SunTimeOnMinuteOffset>0</SunTimeOnMinuteOffset>
          <UseSuntimeOff>false</UseSuntimeOff>
          <SunTimeOffMinuteOffset>0</SunTimeOffMinuteOffset>
        </Timer>
        <Timer>
          <Day>Thursday</Day>
          <Enabled>false</Enabled>
          <TimeOn>2013-01-01T16:30:00</TimeOn>
          <TimeOff>2013-01-01T22:30:00</TimeOff>
          <UseSuntimeOn>false</UseSuntimeOn>
          <SunTimeOnMinuteOffset>0</SunTimeOnMinuteOffset>
          <UseSuntimeOff>false</UseSuntimeOff>
          <SunTimeOffMinuteOffset>0</SunTimeOffMinuteOffset>
        </Timer>
        <Timer>
          <Day>Friday</Day>
          <Enabled>false</Enabled>
          <TimeOn>2013-01-01T16:30:00</TimeOn>
          <TimeOff>2013-01-01T22:30:00</TimeOff>
          <UseSuntimeOn>false</UseSuntimeOn>
          <SunTimeOnMinuteOffset>0</SunTimeOnMinuteOffset>
          <UseSuntimeOff>false</UseSuntimeOff>
          <SunTimeOffMinuteOffset>0</SunTimeOffMinuteOffset>
        </Timer>
        <Timer>
          <Day>Saturday</Day>
          <Enabled>false</Enabled>
          <TimeOn>2013-01-01T07:00:00</TimeOn>
          <TimeOff>2013-01-01T22:30:00</TimeOff>
          <UseSuntimeOn>false</UseSuntimeOn>
          <SunTimeOnMinuteOffset>0</SunTimeOnMinuteOffset>
          <UseSuntimeOff>false</UseSuntimeOff>
          <SunTimeOffMinuteOffset>0</SunTimeOffMinuteOffset>
        </Timer>
      </Timers>
    </Device>

    <Device>
      <ID>1C.CF.91</ID>
      <Name>Lights</Name>
      <Location>Porch</Location>
      <Type>BinarySwitch</Type>
      <State>Off</State>
      <Level>0</Level>
      <Temperature>0</Temperature>
      <Mode/>
      <Timers>
        <Timer>
          <Day>Sunday</Day>
          <Enabled>true</Enabled>
          <TimeOn>2013-01-01T20:30:00</TimeOn>
          <TimeOff>2013-01-01T07:00:00</TimeOff>
          <UseSuntimeOn>true</UseSuntimeOn>
          <SunTimeOnMinuteOffset>-60</SunTimeOnMinuteOffset>
          <UseSuntimeOff>true</UseSuntimeOff>
          <SunTimeOffMinuteOffset>-60</SunTimeOffMinuteOffset>
        </Timer>
        <Timer>
          <Day>Monday</Day>
          <Enabled>true</Enabled>
          <TimeOn>2013-01-01T20:30:00</TimeOn>
          <TimeOff>2013-01-01T07:00:00</TimeOff>
          <UseSuntimeOn>true</UseSuntimeOn>
          <SunTimeOnMinuteOffset>-60</SunTimeOnMinuteOffset>
          <UseSuntimeOff>true</UseSuntimeOff>
          <SunTimeOffMinuteOffset>-60</SunTimeOffMinuteOffset>
        </Timer>
        <Timer>
          <Day>Tuesday</Day>
          <Enabled>true</Enabled>
          <TimeOn>2013-01-01T20:30:00</TimeOn>
          <TimeOff>2013-01-01T07:00:00</TimeOff>
          <UseSuntimeOn>true</UseSuntimeOn>
          <SunTimeOnMinuteOffset>-60</SunTimeOnMinuteOffset>
          <UseSuntimeOff>true</UseSuntimeOff>
          <SunTimeOffMinuteOffset>-60</SunTimeOffMinuteOffset>
        </Timer>
        <Timer>
          <Day>Wednesday</Day>
          <Enabled>true</Enabled>
          <TimeOn>2013-01-01T20:30:00</TimeOn>
          <TimeOff>2013-01-01T07:00:00</TimeOff>
          <UseSuntimeOn>true</UseSuntimeOn>
          <SunTimeOnMinuteOffset>-60</SunTimeOnMinuteOffset>
          <UseSuntimeOff>true</UseSuntimeOff>
          <SunTimeOffMinuteOffset>-60</SunTimeOffMinuteOffset>
        </Timer>
        <Timer>
          <Day>Thursday</Day>
          <Enabled>true</Enabled>
          <TimeOn>2013-01-01T20:30:00</TimeOn>
          <TimeOff>2013-01-01T07:00:00</TimeOff>
          <UseSuntimeOn>true</UseSuntimeOn>
          <SunTimeOnMinuteOffset>-60</SunTimeOnMinuteOffset>
          <UseSuntimeOff>true</UseSuntimeOff>
          <SunTimeOffMinuteOffset>-60</SunTimeOffMinuteOffset>
        </Timer>
        <Timer>
          <Day>Friday</Day>
          <Enabled>true</Enabled>
          <TimeOn>2013-01-01T20:30:00</TimeOn>
          <TimeOff>2013-01-01T07:00:00</TimeOff>
          <UseSuntimeOn>true</UseSuntimeOn>
          <SunTimeOnMinuteOffset>-60</SunTimeOnMinuteOffset>
          <UseSuntimeOff>true</UseSuntimeOff>
          <SunTimeOffMinuteOffset>-60</SunTimeOffMinuteOffset>
        </Timer>
        <Timer>
          <Day>Saturday</Day>
          <Enabled>true</Enabled>
          <TimeOn>2013-01-01T19:30:00</TimeOn>
          <TimeOff>2013-01-01T07:00:00</TimeOff>
          <UseSuntimeOn>true</UseSuntimeOn>
          <SunTimeOnMinuteOffset>-60</SunTimeOnMinuteOffset>
          <UseSuntimeOff>true</UseSuntimeOff>
          <SunTimeOffMinuteOffset>-60</SunTimeOffMinuteOffset>
        </Timer>
      </Timers>
    </Device>

    <Device>
      <ID>1E.2A.D6</ID>
      <Name>Lamp</Name>
      <Location>Living Room</Location>
      <Type>BinarySwitch</Type>
      <State>Off</State>
      <Level>0</Level>
      <Temperature>0</Temperature>
      <Mode/>
      <Timers>
        <Timer>
          <Day>Sunday</Day>
          <Enabled>true</Enabled>
          <TimeOn>2013-01-01T20:30:00</TimeOn>
          <TimeOff>2013-01-01T23:30:00</TimeOff>
          <UseSuntimeOn>true</UseSuntimeOn>
          <SunTimeOnMinuteOffset>-70</SunTimeOnMinuteOffset>
          <UseSuntimeOff>false</UseSuntimeOff>
          <SunTimeOffMinuteOffset>0</SunTimeOffMinuteOffset>
        </Timer>
        <Timer>
          <Day>Monday</Day>
          <Enabled>true</Enabled>
          <TimeOn>2013-01-01T20:30:00</TimeOn>
          <TimeOff>2013-01-01T23:30:00</TimeOff>
          <UseSuntimeOn>true</UseSuntimeOn>
          <SunTimeOnMinuteOffset>-70</SunTimeOnMinuteOffset>
          <UseSuntimeOff>false</UseSuntimeOff>
          <SunTimeOffMinuteOffset>0</SunTimeOffMinuteOffset>
        </Timer>
        <Timer>
          <Day>Tuesday</Day>
          <Enabled>true</Enabled>
          <TimeOn>2013-01-01T20:30:00</TimeOn>
          <TimeOff>2013-01-01T23:30:00</TimeOff>
          <UseSuntimeOn>true</UseSuntimeOn>
          <SunTimeOnMinuteOffset>-70</SunTimeOnMinuteOffset>
          <UseSuntimeOff>false</UseSuntimeOff>
          <SunTimeOffMinuteOffset>0</SunTimeOffMinuteOffset>
        </Timer>
        <Timer>
          <Day>Wednesday</Day>
          <Enabled>true</Enabled>
          <TimeOn>2013-01-01T20:30:00</TimeOn>
          <TimeOff>2013-01-01T23:30:00</TimeOff>
          <UseSuntimeOn>true</UseSuntimeOn>
          <SunTimeOnMinuteOffset>-70</SunTimeOnMinuteOffset>
          <UseSuntimeOff>false</UseSuntimeOff>
          <SunTimeOffMinuteOffset>0</SunTimeOffMinuteOffset>
        </Timer>
        <Timer>
          <Day>Thursday</Day>
          <Enabled>true</Enabled>
          <TimeOn>2013-01-01T20:30:00</TimeOn>
          <TimeOff>2013-01-01T23:30:00</TimeOff>
          <UseSuntimeOn>true</UseSuntimeOn>
          <SunTimeOnMinuteOffset>-70</SunTimeOnMinuteOffset>
          <UseSuntimeOff>false</UseSuntimeOff>
          <SunTimeOffMinuteOffset>0</SunTimeOffMinuteOffset>
        </Timer>
        <Timer>
          <Day>Friday</Day>
          <Enabled>true</Enabled>
          <TimeOn>2013-01-01T20:30:00</TimeOn>
          <TimeOff>2013-01-01T23:30:00</TimeOff>
          <UseSuntimeOn>true</UseSuntimeOn>
          <SunTimeOnMinuteOffset>-10</SunTimeOnMinuteOffset>
          <UseSuntimeOff>false</UseSuntimeOff>
          <SunTimeOffMinuteOffset>0</SunTimeOffMinuteOffset>
        </Timer>
        <Timer>
          <Day>Saturday</Day>
          <Enabled>true</Enabled>
          <TimeOn>2013-01-01T20:30:00</TimeOn>
          <TimeOff>2013-01-01T23:30:00</TimeOff>
          <UseSuntimeOn>true</UseSuntimeOn>
          <SunTimeOnMinuteOffset>-70</SunTimeOnMinuteOffset>
          <UseSuntimeOff>false</UseSuntimeOff>
          <SunTimeOffMinuteOffset>0</SunTimeOffMinuteOffset>
        </Timer>
      </Timers>
    </Device>

    <Device>
      <ID>21.49.D8</ID>
      <Name>Christmas Lights</Name>
      <Location>Porch</Location>
      <Type>BinarySwitch</Type>
      <State>Off</State>
      <Level>0</Level>
      <Temperature>0</Temperature>
      <Mode/>
      <Timers>
        <Timer>
          <Day>Sunday</Day>
          <Enabled>true</Enabled>
          <TimeOn>2013-01-01T16:30:00</TimeOn>
          <TimeOff>2013-01-01T23:00:00</TimeOff>
          <UseSuntimeOn>true</UseSuntimeOn>
          <SunTimeOnMinuteOffset>-60</SunTimeOnMinuteOffset>
          <UseSuntimeOff>false</UseSuntimeOff>
          <SunTimeOffMinuteOffset>0</SunTimeOffMinuteOffset>
        </Timer>
        <Timer>
          <Day>Monday</Day>
          <Enabled>true</Enabled>
          <TimeOn>2013-01-01T16:30:00</TimeOn>
          <TimeOff>2013-01-01T23:00:00</TimeOff>
          <UseSuntimeOn>true</UseSuntimeOn>
          <SunTimeOnMinuteOffset>-60</SunTimeOnMinuteOffset>
          <UseSuntimeOff>false</UseSuntimeOff>
          <SunTimeOffMinuteOffset>0</SunTimeOffMinuteOffset>
        </Timer>
        <Timer>
          <Day>Tuesday</Day>
          <Enabled>true</Enabled>
          <TimeOn>2013-01-01T16:30:00</TimeOn>
          <TimeOff>2013-01-01T23:00:00</TimeOff>
          <UseSuntimeOn>true</UseSuntimeOn>
          <SunTimeOnMinuteOffset>-60</SunTimeOnMinuteOffset>
          <UseSuntimeOff>false</UseSuntimeOff>
          <SunTimeOffMinuteOffset>0</SunTimeOffMinuteOffset>
        </Timer>
        <Timer>
          <Day>Wednesday</Day>
          <Enabled>true</Enabled>
          <TimeOn>2013-01-01T16:30:00</TimeOn>
          <TimeOff>2013-01-01T23:00:00</TimeOff>
          <UseSuntimeOn>true</UseSuntimeOn>
          <SunTimeOnMinuteOffset>-60</SunTimeOnMinuteOffset>
          <UseSuntimeOff>false</UseSuntimeOff>
          <SunTimeOffMinuteOffset>0</SunTimeOffMinuteOffset>
        </Timer>
        <Timer>
          <Day>Thursday</Day>
          <Enabled>true</Enabled>
          <TimeOn>2013-01-01T16:30:00</TimeOn>
          <TimeOff>2013-01-01T23:00:00</TimeOff>
          <UseSuntimeOn>true</UseSuntimeOn>
          <SunTimeOnMinuteOffset>-60</SunTimeOnMinuteOffset>
          <UseSuntimeOff>false</UseSuntimeOff>
          <SunTimeOffMinuteOffset>0</SunTimeOffMinuteOffset>
        </Timer>
        <Timer>
          <Day>Friday</Day>
          <Enabled>true</Enabled>
          <TimeOn>2013-01-01T16:30:00</TimeOn>
          <TimeOff>2013-01-01T23:00:00</TimeOff>
          <UseSuntimeOn>true</UseSuntimeOn>
          <SunTimeOnMinuteOffset>-60</SunTimeOnMinuteOffset>
          <UseSuntimeOff>false</UseSuntimeOff>
          <SunTimeOffMinuteOffset>0</SunTimeOffMinuteOffset>
        </Timer>
        <Timer>
          <Day>Saturday</Day>
          <Enabled>true</Enabled>
          <TimeOn>2013-01-01T16:30:00</TimeOn>
          <TimeOff>2013-01-01T23:00:00</TimeOff>
          <UseSuntimeOn>true</UseSuntimeOn>
          <SunTimeOnMinuteOffset>-60</SunTimeOnMinuteOffset>
          <UseSuntimeOff>false</UseSuntimeOff>
          <SunTimeOffMinuteOffset>0</SunTimeOffMinuteOffset>
        </Timer>
      </Timers>
    </Device>

    <Device>
      <ID>1E.2D.D3</ID>
      <Name>Large Lamp</Name>
      <Location>Bed Room</Location>
      <Type>BinarySwitch</Type>
      <State>Off</State>
      <Level>0</Level>
      <Temperature>0</Temperature>
      <Mode/>
    </Device>

    <Device>
      <ID>20.28.82</ID>
      <Name>Bulb</Name>
      <Location>No where</Location>
      <Type>MultilevelSwitch</Type>
      <State>Off</State>
      <Level>0</Level>
      <Temperature>0</Temperature>
      <Mode/>
    </Device>
    
  </Devices>

  <Sprinklers>
    
    <Sprinkler>
      <Port>1</Port>
      <Zone>Front Side Yard</Zone>
      <Timers>
        <Timer>
          <Day>Sunday</Day>
          <Enabled>true</Enabled>
          <TimeOn>2013-01-01T12:00:00</TimeOn>
          <TimeOff>2013-01-01T12:05:00</TimeOff>
        </Timer>
      </Timers>
    </Sprinkler>

    <Sprinkler>
      <Port>2</Port>
      <Zone>Front Yard</Zone>
      <Timers>
        <Timer>
          <Day>Sunday</Day>
          <Enabled>true</Enabled>
          <TimeOn>2013-01-01T12:00:00</TimeOn>
          <TimeOff>2013-01-01T12:05:00</TimeOff>
        </Timer>
      </Timers>
    </Sprinkler>

    <Sprinkler>
      <Port>3</Port>
      <Zone>Back Yard</Zone>
      <Timers>
        <Timer>
          <Day>Sunday</Day>
          <Enabled>true</Enabled>
          <TimeOn>2013-01-01T12:00:00</TimeOn>
          <TimeOff>2013-01-01T12:05:00</TimeOff>
        </Timer>
      </Timers>
    </Sprinkler>
    
  </Sprinklers>
  
  <Cameras>
    <Camera>
      <Location>Cat Beds</Location>
      <ImageUrl>http://ganymede.dlinkddns.com:8191/image.jpg</ImageUrl>
      <MjpegUrl>http://ganymede.dlinkddns.com:8191/video.cgi</MjpegUrl>
      <AdminUrl>http://ganymede.dlinkddns.com:8191</AdminUrl>
      <Username>admin</Username>
      <Password>somepwd123!</Password>
    </Camera>

    <Camera>
      <Location>Queen Room</Location>
      <ImageUrl>http://ganymede.dlinkddns.com:8192/image.jpg</ImageUrl>
      <MjpegUrl>http://ganymede.dlinkddns.com:8192/video.cgi</MjpegUrl>
      <AdminUrl>http://ganymede.dlinkddns.com:8192</AdminUrl>
      <Username>admin</Username>
      <Password>somepwd123!</Password>
    </Camera>

    <Camera>
      <Location>Living Room</Location>
      <ImageUrl>http://ganymede.dlinkddns.com:8193/image.jpg</ImageUrl>
      <MjpegUrl>http://ganymede.dlinkddns.com:8193/video.cgi</MjpegUrl>
      <AdminUrl>http://ganymede.dlinkddns.com:8193</AdminUrl>
      <Username>admin</Username>
      <Password>somepwd123!</Password>
    </Camera>

    <Camera>
      <Location>Bird Feeder</Location>
      <ImageUrl>http://ganymede.dlinkddns.com:8194/image.jpg</ImageUrl>
      <MjpegUrl>http://ganymede.dlinkddns.com:8194/video.cgi</MjpegUrl>
      <AdminUrl>http://ganymede.dlinkddns.com:8194</AdminUrl>
      <Username>admin</Username>
      <Password>somepwd123!</Password>
    </Camera>

    <Camera>
      <Location>Full Room</Location>
      <ImageUrl>http://ganymede.dlinkddns.com:8195/image.jpg</ImageUrl>
      <MjpegUrl>http://ganymede.dlinkddns.com:8195/video.cgi</MjpegUrl>
      <AdminUrl>http://ganymede.dlinkddns.com:8195</AdminUrl>
      <Username>admin</Username>
      <Password>somepwd123!</Password>
    </Camera>

    <Camera>
      <Location>Bedroom</Location>
      <ImageUrl>http://ganymede.dlinkddns.com:8196/image.jpg</ImageUrl>
      <MjpegUrl>http://ganymede.dlinkddns.com:8196/video.cgi</MjpegUrl>
      <AdminUrl>http://ganymede.dlinkddns.com:8196</AdminUrl>
      <Username>admin</Username>
      <Password>somepwd123!</Password>
    </Camera>

    <Camera>
      <Location>Test</Location>
      <ImageUrl>http://ganymede.dlinkddns.com:8197/snapshot.cgi</ImageUrl>
      <MjpegUrl>http://ganymede.dlinkddns.com:8197/videostream.cgi</MjpegUrl>
      <AdminUrl>http://ganymede.dlinkddns.com:8197</AdminUrl>
      <Username>admin</Username>
      <Password>somepwd123!</Password>
      
    </Camera>
  </Cameras>
  
</Settings>